#circulo1{
    height:100px;
    width:100px;
    background:chartreuse;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
 }

 #circulo2{
    height:100px;
    width:100px;
    background:gold;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
 }

 #circulo3{
    height:100px;
    width:100px;
    background:crimson;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
 }

 #rectangulo {
    background:dimgray;
    width: 200px;
    height: 363px;
}